{% extends 'layouts/layout.html.twig' %}
{% block content %}
<h1>Contact us.</h1>
    {% if form is defined %}
    <form action="#" method="post">


            {{ form_widget(form) }}


        <input type="submit" name="submit" />
    </form>{% endif %}
{%  endblock %}