{% extends 'layouts/layout.html.twig' %}
{% block content %}
<h1>Contact us.</h1>
    <form action="#" method="post">
        {% if form is defined %}

            {{ form_widget(form) }}

        {% endif %}
        <input type="submit" name="submit" />
    </form>
{%  endblock %}