<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Silex Blog">
    <meta name="author" content="Duikboot">

    <title>My First Silex blog...</title>

    <link rel="stylesheet" type="text/css" href="http://localhost:8989/resources/assets/css/bootstrap.min.css">

</head>

<body>
    <h1>Silex Blog</h1>
    <p>First Silex blog.</p>
    <p>Test 0123</p>

    {{ app.request.getBaseURL }}
    {{ app.request.basepath }}
</body>
</html>