<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Silex Blog">
    <meta name="author" content="Duikboot">

    <title>My First Silex ...</title>
    {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    {% endblock %}


</head>

<body>
    <div class="container">
        {% include 'menu.html.twig' %}

        {% block menu %}

        {% endblock %}

        {% block content %}

        {% endblock %}

    </div>



    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>